/* istanbul ignore file */
/* eslint-disable */
export const environment: {
    kushkiUrl: string;
    envName: string;
    devTools: boolean;
} = {
    kushkiUrl: "{{{KUSHKI_URL}}}",
    envName: "{{{ENVNAME}}}",
    devTools: false,
};
